
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:darkkhaki;
}

:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  font-size: 18px;
}

.main-container {
  max-width: 650px;
  margin: 50px auto;
  background: #008B8B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  padding: 18px;
}

.main-container > h1 {
  color: white;
  font-size: 2.2rem;
  margin-top: 10px;
}

.main-container > h4 {
  margin: 14px;
  color: #00008B;
}

.main-container > h4 > sup {
  color: springgreen;
  font-size: 0.7rem;
}

.score-card{
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 15px;
  margin: 35px;
  background-color: palegoldenrod;
}

.role {
  height: 40px;
  width: 118px;
  background-color: tomato;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 50%;
}

.user-label {
  position: absolute;
  top: 164px;
  left: 110px;
}

.comp-label {
  position: absolute;
  top: 164px;
  right: 110px;
}

.button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  margin: 25px;
  text-align: center;
  padding: 18px;
  background:tan;
  cursor: pointer;
}

.button img {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 4px;
}

.btn-reset {
  width: 160px;
  height: 33px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 3px;
  color: whitesmoke;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: darkgreen;
  cursor: pointer;
}

.highlight-win {
  border: 4px solid green;
  transition: all 0.4s ease-out;
}

.highlight-lose {
  border: 4px solid red;
  transition: all 0.4s ease;
}

.highlight-draw {
  border: 4px solid grey;
  transition: all 0.4s ease-out;
}